body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    background-image: url("img/background.jpg");
    background-position: center;
    background-size: fill;
    background-attachment: fixed;
    background-repeat: no-repeat;
    min-height: 100vh;
}

/*Menu style*/

nav {
    background-color: #ff7207;
    position: -webkit-sticky;
    /* Safari */
    position: sticky;
    top: 0;

    display: flex;
    justify-content: space-between;
    padding-left: 5%;
    padding-right: 5%;
    z-index: 100;
}

.navbar-menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;

}

.navbar-menu li {
    display: inline-block;
}

.navbar-menu li a,
#navbarToggle {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: all 0.5s ease;

}

#navbarToggle {
    background-color: #eda02c;
}

.navbar-menu li a:hover {
    background-color: #111;
}

.active {
    background-color: #0076a8;
}

#navbarToggle {
    display: none;
}

/*Content styling*/
.content {
    padding: 3%;
}

.home-introduction {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80vw;
    margin: auto;
    margin-bottom: 2%;
}

/* Gallery */
.gallery {
    display: grid;
    grid-template-columns: auto auto auto;
    width: 100%;
}

.gallery img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.text-image {
    width: 30vw;
    height: auto;
    margin-top: 2%;
    margin-bottom: 2%;
}

/*Movies styling*/
.movies {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2%;
}

.movie {
    border-radius: 10px;
    padding: 2%;
    box-shadow: #00000057 10px 10px 20px 20px;
    gap: 2%;
    margin-bottom: 5%;
    width: 70%;
    background-color: rgba(255, 255, 255, 0.648);

}

.trailer-container {
    position: relative;
    width: 100%;
    overflow: hidden;
    padding-top: 56.25%;
    /* 16:9 Aspect Ratio */
}

.trailer {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    border: none;
}

/*Programming styling*/
.programm-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 5%;

}

.programm-day-box {
    border-radius: 20px;
    box-shadow: #00000057 5px 5px 20px 5px;
    padding: 1%;
    width: 30%;
    margin-top: 1%;
    margin-right: 1%;
    background-color: rgba(255, 255, 255, 0.648);
}

.programm-day-box h3 {
    text-align: center;
    text-transform: uppercase;
}

.programm-day-box p {
    font-size: 13px;
    text-align: center;
}

.programm-day-box a {
    text-decoration: none;
    color: #0076a8;
}

.programm-day-box a:hover {
    color: #648999;

}

/*Header styling*/
.header {
    padding: 60px;
    text-align: center;
    background-image: url("img/home/header-background.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    font-size: 30px;
}

.trailerheader {
    text-align: center;
}

/*About us styling*/
.aboutus-content {
    width: 60vw;
    margin: auto;
}

.aboutus-content h1,
.aboutus-content h2,
.aboutus-content h3 {
    text-align: center;
}

.aboutus-section {
    margin-bottom: 5vh;
}

/*Maps carte*/
.maps-container {
    height: 40vh;
}


/* Mobile styling */
@media (max-width: 768px) {
    .navbar-menu {
        display: none;
    }

    .navbar-menu.open {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    #navbarToggle {
        display: block;
        align-self: flex-end;
    }

    nav {
        align-items: center;

    }

    .movie {
        width: 90%;
    }

    .movie p {
        font-size: 13px;
    }

    .programm-day-box {
        width: 100%;
    }

    .aboutus-content {
        width: unset;
        padding: 3%;
    }

}